<h1>All pokemons</h1>

<% @pokemons.each do |pokemon| %>
  <h3><a href="/pokemons/<%= pokemon.id %>"><%= pokemon.title %></a></h3>
  <p><%= pokemon.description %></p>
    <form action="/pokemons/<%= pokemon.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
