<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .mouseover-button {
      margin-top: 10px;
      line-height: 30px;
      font-weight: bold;
      font-size: large;
      color: black;
      padding: 0 20px;
      background: lightblue;
      border: 3px solid #003060;
      border-radius: 40px;
      box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
      text-decoration: none;
      }
      .mouseover-button:hover {
      background: #003060;
      color: white;
      position: relative;
      top: 3px;
      box-shadow: none;
      text-decoration: none;
      }
    </style>
    <title><%= @pokemon.name %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <img id = "logo" src = "https://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png">
    </div>
    <div class="navbar">
      <%= link_to 'Main Page', '/', id: 'return_button' %>
      <%= link_to 'Pokémon', '/pokemons', id: 'return_button' %>
      <%= link_to 'Trainers', '/trainers', id: 'return_button' %>
    </div>
    <div class="pokemon-entries-container">
      <table>
        <table>
          <tr>
            <td class="label-cell">Name:</td>
            <td><%= @pokemon.name %></td>
          </tr>
          <tr>
            <td class="label-cell">Pokemon ID:</td>
            <td><%= @pokemon.id %></td>
          </tr>
          <tr>
            <td class="label-cell">Type:</td>
            <td><%= @pokemon.pokemon_type %></td>
          </tr>
          <tr>
            <td class="label-cell">Trainer Name:</td>
            <td><%= @pokemon.trainer.name %></td>
          </tr>
          <tr>
            <td class="label-cell">Trainer ID:</td>
            <td><%= @pokemon.trainer.id %></td>
          </tr>
          <tr>
            <td class="label-cell">Height:</td>
            <td><%= @pokemon.height %></td>
          </tr>
          <tr>
            <td class="label-cell">Weight:</td>
            <td><%= @pokemon.weight %></td>
          </tr>
          <tr>
            <td class="label-cell">Can Evolve:</td>
            <td><%= @pokemon.can_evolve %></td>
          </tr>
        </tr>
        <tr>
          <td class="label-cell">Created At:</td>
          <td><%= @pokemon.created_at %></td>
        </tr>
        <tr>
          <td class="label-cell">Updated At:</td>
          <td><%= @pokemon.updated_at %></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <div class="button-group">
              <a href="/pokemons/<%= @pokemon.id %>/edit" class="small_button mouseover-button">Edit</a>
              <form action="/pokemons/<%= @pokemon.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this Pokémon?');">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="action" value="EDIT">
                <input type="submit" value="Delete" class="small_button mouseover-button delete-button"/>
              </form>
            </div>
          </table>
        </body>
      </html>
